{{ $Data := .Scratch.Get "PartialData" }}

<div class="container rad-animation-group pb-5">
  <div class="row d-flex flex-md-row">
    <div class="d-md-block col-sm-3 col-md-5 col-lg-4 my-auto rad-fade-down">
      <figure class="team-member team-pi">
        <img
          class="lozad img-fluid"
          src="{{ $Data.image | absURL }}"
          alt="{{ $Data.name }}"
        />
      </figure>
    </div>
    <div class="col-12 col-md-7 col-lg-8 my-auto rad-fade-down">
      <h1>
          {{ $Data.name }}
      </h1>
      <p class="lead">
        {{ $Data.bio | markdownify }}
      </p>
      <p>
        {{ if $Data.scholar }}<a href="{{ $Data.scholar }}"><i class="ai ai-google-scholar-square"></i></a>&nbsp;{{ end }}
        {{ if $Data.github }}<a href="{{ $Data.github }}"><span class="fab fa-github-square"></span></a>&nbsp;{{ end }}
        {{ if $Data.twitter }}<a href="{{ $Data.twitter }}"><span class="fab fa-twitter"></span></a>&nbsp;{{ end }}
        {{ if $Data.linkedin }}<a href="{{ $Data.linkedin }}"><span class="fab fa-linkedin"></span></a>&nbsp;{{ end }}
      </p>
    </div>
  </div>
</div>