{{ $Data := .Scratch.Get "PartialData" }}

<div class="container rad-animation-group pb-5">
  <div class="row d-flex flex-md-row justify-content-center">
    <div class="col-12 my-auto rad-fade-down">
      <h2>
        {{ $Data.title }}
        {{ if $Data.description }}
          <span>{{ $Data.description | markdownify }}</span>
        {{ end }}
      </h2>
    </div>
    {{ range $Data.people }}
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2 text-center rad-fade-down">
        <figure class="team-member">
          <img
            class="lozad img-fluid"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            data-src="{{ .image | absURL }}"
            data-srcset="{{ .image | absURL }} 1x"
            alt="{{ .name }}"
            height="500" width="500"
          />
        </figure>
        <h4>
          {{ .name }}
        </h4>
        <p>
          {{ if .scholar }}<a href="{{ .scholar }}"><i class="ai ai-google-scholar-square"></i></a>&nbsp;{{ end }}
          {{ if .github }}<a href="{{ .github }}"><span class="fab fa-github-square"></span></a>&nbsp;{{ end }}
          {{ if .twitter }}<a href="{{ .twitter }}"><span class="fab fa-twitter"></span></a>&nbsp;{{ end }}
        </p>
    </div>
    {{ end }}
  </div>
</div>
