{{ $Data := .Scratch.Get "PartialData" }}

<div class="container rad-animation-group pb-5">
  <div class="row d-flex flex-md-row justify-content-center">
    <div class="col-12 my-auto rad-fade-down">
      <h2>
        {{ $Data.title }}
        {{ if $Data.description }}
          <span>{{ $Data.description | markdownify }}</span>
        {{ end }}
      </h2>
    </div>

    <!-- Create a slice to hold people with parsed dates -->
    {{ $peopleWithParsedDates := slice }}

    <!-- Loop through people and parse the dates -->
    {{ range $Data.people }}
      {{ $startDate := .startDate }}
      {{ if $startDate }}
        {{ $month := substr $startDate 0 2 }}
        {{ $day := substr $startDate 3 2 }}
        {{ $year := substr $startDate 6 4 }}
        {{ $formattedDate := printf "%s-%s-%s" $year $month $day }}
        {{ $parsedDate := time $formattedDate }}
        {{ $peopleWithParsedDates = $peopleWithParsedDates | append (dict "person" . "parsedDate" $parsedDate) }}
      {{ else }}
        <!-- Handle case where startDate is missing or improperly formatted -->
        {{ $peopleWithParsedDates = $peopleWithParsedDates | append (dict "person" . "parsedDate" (time "0001-01-01")) }}
      {{ end }}
    {{ end }}

    <!-- Sort people by the parsed date -->
    {{ $sortedPeople := sort $peopleWithParsedDates "parsedDate" "asc" }}

    {{ range $sortedPeople }}
      {{ $person := .person }}
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2 text-center rad-fade-down">
        <figure class="team-member">
          <img
            class="lozad img-fluid"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            data-src="{{ $person.image | absURL }}"
            data-srcset="{{ $person.image | absURL }} 1x"
            alt="{{ $person.name }}"
            height="500" width="500"
          />
        </figure>
        <h4>
          {{ $person.name }}
        </h4>
        <p>{{ $person.position }}</p>
        <p>{{ $person.description }}</p>
        {{ if or ($person.scholar) ($person.github) ($person.twitter) }}
        <p>
          {{ if $person.scholar }}<a href="{{ $person.scholar }}"><i class="ai ai-google-scholar-square"></i></a>&nbsp;{{ end }}
          {{ if $person.github }}<a href="{{ $person.github }}"><span class="fab fa-github-square"></span></a>&nbsp;{{ end }}
          {{ if $person.twitter }}<a href="{{ $person.twitter }}"><span class="fab fa-twitter"></span></a>&nbsp;{{ end }}
        </p>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
