{{ $Data := .Scratch.Get "PartialData" }}

<section class="section rad-animation-group pb-0" id="research">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-md-row justify-content-center">
      <div class="col-12">
        <h2>
          {{ $Data.title }}
          {{ if $Data.description }}
            <span>{{ $Data.description | markdownify }}</span>
          {{ end }}
        </h2>
      </div>
      <div class="publications">
      {{ $CurYear := "" }}
      {{ range sort $Data.publications "publicationDate" "desc" }}
        {{ $Year := index (split .publicationDate "-") 0 }}
        {{ if ne $CurYear $Year }}
          {{ $CurYear = $Year }}
          <h3>{{ $CurYear }}</h3>
        {{ end }}
        <div class="col-12 mt-4 publication">
          <h4 class="title">
            {{ .title }}
          </h4>
          <p class="authors">
            {{ range .authors }}
              <span>{{ . }}</span>
            {{ end }}
          </p>
          <p class="journal">
            {{ if .journal }}
              <span>{{ .journal }}</span>
            {{ end }}
            <span>{{ .publicationDate | dateFormat "Jan 2006" }}</span>
          </p>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
