{{ $Data := .Scratch.Get "PartialData" }}

<section class="section rad-animation-group pb-0">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-md-row justify-content-center">
      <div class="col-12 my-auto">
        <h2>
          {{ $Data.title }}
          {{ if $Data.description }}
            <span>{{ $Data.description | markdownify }}</span>
          {{ end }}
        </h2>
      </div>
      {{ range $Data.people }}
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2 text-center">

          <figure class="team-member">

            <svg width="500" height="500" viewBox="0 0 500 500" class="lozad img-fluid">
              <defs>
                <style>
                  .c1 { fill:#005981; }
                  .c2 { fill:#a9262c; }
                  .c3 { fill:#e57536; }
                  .c4 { fill:#f9c926; }
                  image {
                    filter: grayscale(100%);
                  }
                  g {
                    opacity: 0.7;
                    transform: scale(1.6) rotate(70deg);
                    transform-origin: 250px 250px;
                  }
                </style>
              </defs>
              <image href="{{ .image | absURL }}" height="500" width="500" />
              <!-- <g>
                <rect class="c1" x="0" y="-1000" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="0.4s" repeatCount="indefinite" />
                </rect>
                <rect class="c2" x="125" y="0" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="0s" repeatCount="indefinite" />
                </rect>
                <rect class="c3" x="250" y="0" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="0.3s" repeatCount="indefinite" />
                </rect>
                <rect class="c4" x="375" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="0.25s" repeatCount="indefinite" />
                </rect>
              </g>
              <g>
                <rect class="c1" x="0" y="-1000" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="6s" />
                </rect>
                <rect class="c2" x="125" y="-1000" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="9s" />
                </rect>
                <rect class="c3" x="250" y="-1000" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="12s" />
                </rect>
                <rect class="c4" x="375" y="-1000" width="125" height="1000">
                  <animate attributeName="y" values="-1000;1000" dur="3s" begin="15s" />
                </rect>
              </g> -->
            </svg>
          </figure>
          <h4>
            {{ .name }}
          </h4>
          <p>
            <a href ="{{.scholar}}"><i class="ai ai-google-scholar-square ai-lg icons"></i></a>&nbsp
            <a href ="{{.twitter}}"><i class="fa-brands fa-twitter"></i></a>&nbsp
            <a href ="{{.github}}"><i class="icons fab fa-github-square fa-lg"></i></a>&nbsp
          </p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
