.rad-subscription-group {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 6px;
  max-width: 462px;
  height: 56px;
  border: 1px solid #fff;
  border-radius: 56px
}

.rad-subscription-group form {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center
}

.rad-subscription-group #rad-subscription-fail,
.rad-subscription-group #rad-subscription-success {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center
}

.rad-subscription-group #rad-subscription-fail p,
.rad-subscription-group #rad-subscription-success p {
  color: #fff;
  margin-bottom: 0;
  width: 100%
}

.rad-subscription-group input[type=email] {
  padding: 0 12px;
  background-color: transparent;
  border: none;
  border-radius: 56px;
  color: #fff
}

.rad-subscription-group input[type=email]::-webkit-input-placeholder {
  color: #fff
}

.rad-subscription-group input[type=email]::-moz-placeholder {
  color: #fff
}

.rad-subscription-group input[type=email]::-ms-input-placeholder {
  color: #fff
}

.rad-subscription-group input[type=email]::placeholder {
  color: #fff
}

.rad-subscription-group button {
  white-space: nowrap
}

.social-links-group a:not(:last-child) {
  margin-right: 15px
}

@media (min-width:768px) {
  .img-clip-left-backward {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%)
  }
}

html {
  height: 100%;
  overflow-x: hidden
}

html body {
  min-height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  letter-spacing: -.2px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
}

html body ::-moz-selection {
  background-color: #e93e34;
  color: #fff
}

html body ::selection {
  background-color: #e93e34;
  color: #fff
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0
}

.section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 0 !important;
}

.section--border-bottom::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 1px;
  max-width: 1170px;
  background-color: #dbe0e4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.section .row.row--padded {
  margin-top: 32px;
  margin-bottom: 60px
}

@media (min-width:1200px) {
  .section div[class*=col-].rad-col-text:first-child {
    max-width: 500px;
    margin-right: auto
  }

  .section div[class*=col-].rad-col-text:not(:first-child) {
    max-width: 500px;
    margin-left: auto
  }
}

.section div[class*=col-].rad-col-text h2 {
  text-align: center
}

@media (min-width:992px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px
  }

  .section .row.row--padded {
    margin-top: 80px;
    margin-bottom: 80px
  }

  .section div[class*=col-].rad-col-text h2 {
    text-align: left
  }
}

.section div[class*=col-].rad-col-text p {
  text-align: center
}

.section div[class*=col-] img {
  max-width: 100%
}

.section div[class*=col-] img.image-left-overflow {
  margin-left: 0
}

@media (min-width:768px) {
  .img-clip-left-forward {
    -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%)
  }

  .img-clip-right-backward {
    -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%)
  }

  .img-clip-right-forward {
    -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%)
  }

  .section div[class*=col-] img.image-left-overflow {
    margin-left: -50px
  }

  .section div[class*=col-] img.image-right-overflow {
    margin-right: -150px
  }
}

.section--contact {
  padding-bottom: 0;
  background-image: url(../img/contact-bg.png);
  background-repeat: repeat-x;
  background-position: 0 100%
}

.section--contact .container {
  background-color: #fff;
  box-shadow: 0 42px 34px -16px rgba(0, 0, 0, .3)
}

.section li {
  display: block;
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, .6);
  line-height: 1.24;
  margin-bottom: 12px;
  text-align: left
}

.section li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #000
}

.section.four-o-four {
  -webkit-box-flex: 1;
  flex: 1
}

.four-o-four {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 125px 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center
}

.header.collapse.show::before,
.header.collapsing::before {
  background-color: #fff;
  opacity: 1
}

.header+.section {
  margin-top: 120px
}

.header {
  padding-top: 20px;
  -webkit-transition-property: height, padding, background-color, box-shadow;
  transition-property: height, padding, background-color, box-shadow;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease
}

.header::before {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: 100% 100%;
  background-position: 50% 100%;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease
}

.header.collapse,
.header.collapse:not(.show) {
  display: block
}

.header.collapse.show {
  height: 100vh
}

.header.collapse.show::before {
  -webkit-transition-duration: 0;
  transition-duration: 0
}

.header.collapsing {
  height: 100vh !important
}

.header .navbar {
  -webkit-box-pack: center;
  justify-content: center
}

@media (min-width:992px) {
  .header {
    padding-top: 35px
  }

  .header .navbar {
    -webkit-box-pack: justify;
    justify-content: space-between
  }
}

.header .navbar-collapse.collapsing {
  overflow: hidden !important
}

.header .navbar-brand {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-right: 0
}

.header .navbar-brand img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center
}

.header .navbar-brand span {
  display: block
}

.header .navbar-brand span:first-child {
  align-self: center;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -1.17px;
  color: #e93e34
}

@media (min-width:768px) {
  .header .navbar-brand img {
    width: 300px;
    max-height: 70px
  }

  .header .navbar-brand span:first-child {
    font-size: 32.9px
  }
}

.header .navbar-brand span:nth-child(2) {
  margin-top: -20px;
  align-self: center;
  font-family: AutumnMoon;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -1.17px;
  color: #000
}

@media (min-width:768px) {
  .header .navbar-brand span:nth-child(2) {
    font-size: 32.9px;
    margin-top: -26px
  }
}

.header .navbar-toggler:not(.nav-link) {
  position: absolute;
  left: 0;
  top: 14px;
  border: none
}

.header .navbar-toggler:not(.nav-link)-icon {
  -webkit-transform: scale(.8);
  transform: scale(.8);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important
}

.header .navbar-nav {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center
}

.header .navbar-collapse {
  margin-top: 30px;
  overflow-y: auto;
  max-height: calc(100vh - 123px)
}

@media (min-width:992px) {
  .header .navbar-brand {
    margin-right: 16px
  }

  .header .navbar-toggler:not(.nav-link) {
    position: relative
  }

  .header .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-self: flex-end
  }

  .header .navbar-collapse {
    margin-top: 0;
    overflow-y: visible;
    max-height: unset
  }
}

.header .navbar .nav-item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  overflow: hidden
}

.header .navbar .nav-item * {
  box-sizing: border-box;
  -webkit-transition: all .35s ease;
  transition: all .35s ease
}

.header .navbar .nav-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.header .navbar .nav-item .nav-link {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px
}

@media (min-width:992px) {
  .header .navbar .nav-item {
    width: auto;
    border-bottom: none
  }

  .header .navbar .nav-item:first-child {
    border-top: none
  }

  .header .navbar .nav-item .nav-link {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0
  }
}

@media (min-width:1200px) {
  .header .navbar .nav-item .nav-link {
    padding-left: 20px;
    padding-right: 20px
  }
}

.header .navbar .nav-item .nav-link::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 5px;
  height: 1px;
  width: calc(100% - 40px);
  background-color: rgba(0, 0, 0, .6);
  will-change: transform;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-timing-function: cubic-bezier(.645, .045, .355, 1);
  transition-timing-function: cubic-bezier(.645, .045, .355, 1)
}

.header .navbar-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px
}

@media (min-width:992px) {
  .header .navbar .nav-item:hover .nav-link::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  .header .navbar-text {
    display: block;
    width: auto;
    padding: 0
  }
}

.header .navbar-light .navbar-nav .nav-link {
  color: #000
}

.header--sticky-triggered {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1)
}

.header .navbar .nav-item .nav-link {
  font-size: 1.3em;
}

@media (min-width:992px) {
  .section div[class*=col-].rad-col-text p {
    text-align: left
  }

  .section div[class*=col-] img.image-left-overflow {
    margin-left: -75px
  }
}


@media (min-width:1200px) {
  .section div[class*=col-] img.image-left-overflow {
    margin-left: -120px
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000
}

.footer .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center
}

@media (min-width:992px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row
  }
}

.footer__left {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center
}

.footer__right {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  grid-area: right
}

.footer__links {
  -webkit-box-flex: 1;
  flex: 1;
  grid-area: links;
  margin-top: 30px;
  margin-bottom: 30px
}

@media (min-width:992px) {
  .footer__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0
  }
}

.footer__copy {
  color: rgba(255, 255, 255, .6);
  white-space: nowrap;
  font-size: 12px;
  font-weight: 300
}

.footer .navbar-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center
}

@media (min-width:992px) {
  .footer .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-self: stretch
  }
}

.footer .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 50px;
  white-space: nowrap
}

@media (min-width:992px) {
  .footer .navbar-nav .nav-item .nav-link {
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    padding: 0 8px
  }
}

.rad-showcase {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-bottom: -20px;
  padding-top: 120px
}

.rad-showcase__bg {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  z-index: 0;
  display: none
}

.rad-showcase__bg img {
  width: 100%;
  margin-top: 90px;
  height: 100%;
  max-height: 721px
}

@media (min-width:992px) {
  .rad-showcase {
    min-height: 870px;
    padding-top: 0;
    margin-bottom: 0
  }

  .rad-showcase__bg {
    display: -webkit-box;
    display: flex;
    right: -50px
  }

  .rad-showcase__bg img {
    width: auto
  }
}

.rad-showcase__bg--mobile {
  display: -webkit-box;
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  opacity: 1
}

.rad-showcase__bg--mobile img {
  margin-top: 40px
}

.rad-showcase .container {
  position: relative;
  z-index: 2
}

.rad-showcase .container h1 {
  width: 100%;
}

@media (min-width:992px) {
  .rad-showcase__bg--mobile {
    display: none
  }

  .rad-showcase .container h1 {
    font-size: 4rem;
  }
}

.rad-showcase .container h1 span {
  display: block;
  margin-top: 5px;
  font-weight: 300
}

.rad-showcase .container p.lead {
  width: 100%
}

.rad-showcase .platform-links {
  margin-top: 40px;
  margin-right: -5px
}

@media (min-width:992px) {
  .rad-showcase .platform-links {
    margin-top: 92px;
    margin-right: -10px
  }
}

.rad-showcase .platform-links [class^=icon-] {
  margin-right: 5px;
  font-size: 17px;
  color: #000
}

.rad-showcase .platform-links [class^=icon-]:hover::before {
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  -webkit-transition-timing-function: cubic-bezier(.645, .045, .355, 1);
  transition-timing-function: cubic-bezier(.645, .045, .355, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: scale(1.2);
  transform: scale(1.2)
}

@media (min-width:992px) {
  .rad-showcase .platform-links [class^=icon-] {
    font-size: 19px;
    margin-right: 10px
  }
}

.rad-showcase+section {
  margin-top: 0
}

@media (min-width:1200px) {
  .footer .navbar-nav .nav-item .nav-link {
    padding-left: 20px;
    padding-right: 20px
  }

  .rad-showcase {
    min-height: 870px;
    padding-top: 0;
    margin-bottom: 0
  }

  .rad-showcase+section {
    margin-top: -125px
  }
}
