/* You can customize theme styles here */

.header .navbar-brand span:first-child {
    color: #3482e9;
    font-size: 35px;
}

img.brainlife-border {
    border-radius: 10px;
    border: 3px solid black;
}

img.team-member {
    filter: grayscale(100%);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    margin-bottom: 20px;
    object-fit: cover;
}

section.section-collaborator {
    background-color: #2693ff;
}

section.section-collaborator h3,
section.section-collaborator h5,
section.section-collaborator p.lead {
    color: white;
}
