@font-face {
  font-family: AutumnMoon;
  src: url(../fonts/autumn-moon/AutumnMoon.woff) format("woff"), url(../fonts/autumn-moon/AutumnMoon.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/inter/Inter-Light.woff2) format("woff2"), url(../fonts/inter/Inter-Light.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter/Inter-Regular.woff2) format("woff2"), url(../fonts/inter/Inter-Regular.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/inter/Inter-Medium.woff2) format("woff2"), url(../fonts/inter/Inter-Medium.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/inter/Inter-SemiBold.woff2) format("woff2"), url(../fonts/inter/Inter-SemiBold.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter/Inter-Bold.woff2) format("woff2"), url(../fonts/inter/Inter-Bold.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/inter/Inter-ExtraBold.woff2) format("woff2"), url(../fonts/inter/Inter-ExtraBold.woff) format("woff")
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/brands.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.2/css/academicons.min.css);

$theme-colors: (
  primary: #005981,
  secondary: #f9c926,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 2000px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1400px
);

@import "bootstrap/bootstrap";
@import "../../static/css/custom";

.b{fill:#f9c926;}
.c{fill:#005981;}
.e{fill:#e57536;}
.f{fill:#ffffff;}
.g{fill:#a9262c;}

// Increase website on XXXL screens
html {
  transform-origin: 50% 0;
  font-size: 16px;
}
canvas#showcase-canvas {
  transform-origin: 100% 0;
}

@include media-breakpoint-up(xxxl) {
  html {
    // transform: scale(1.4);
    font-size: 20px;
  }
  // canvas#showcase-canvas {
  //   transform: scale(0.8);
  // }
}

body {
  overflow: auto !important;
  overflow-x: hidden !important;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
}

section {
  flex-grow: 1;
}

body > * {
  z-index: 10000;
}

.fixed-top {
  z-index: 20000;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  font-weight: 300;

  &.lead {
    font-size: 1em;
  }
}

b, strong { font-weight: bold; }

img.img-responsive {
  max-width: 80% !important;
  height: auto;
}

.fab, .ai {
  font-size: 1.5em;
}

img.team-member, figure.team-member {
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  overflow: hidden;
  max-width: 200px;
  margin: 0 auto 20px auto;

  img {
    width: 200px;
    height: 180px;
    border-radius: 10px;
    border: 0;
    object-fit: cover;
    filter: grayscale(100%);
  }

  &.team-pi {
    max-width: 250px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &:before {
    content: " ";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    opacity: 0.75;
    z-index: -1;
    background: url(/img/pestillilab-05.svg) no-repeat center center / cover;
    transform: rotate(70deg);
  }
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  // font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 1.8em;
  font-weight: lighter;
}

h2, .h2 {
  font-size: 1.75em;
}

h3, .h3 {
  font-size: 1.65em;
}

h4, .h4 {
  font-size: 1.45em;
}

h5, .h5 {
  font-size: 1.3em;
}

h6, .h6 {
  font-size: 1.1em;
}

h1 {
  position: relative;
  padding-left: .1em;
  text-indent: 1em;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.75em;
    width: 2em;
    height: 1.2em;
    background: url(/img/pestillilab-04.svg) no-repeat left top / contain;
    transform: rotate(60deg);
    transform-origin: 0px 0px;

    @include media-breakpoint-up(md) {
      & {
        left: -0.3em;
      }
    }
  }

  @include media-breakpoint-up(md) {
    & {
      text-indent: 0;
    }
  }
}

h2 {
  position: relative;
  text-indent: 1em;

  &:before {
    content: "";
    position: absolute;
    top: 0.1em;
    left: 0.6em;
    width: 0.75em;
    height: 0.75em;
    background: url(/img/pestillilab-05.svg) no-repeat left top / contain;
    border-radius: 1.2em;
    transform: rotate(60deg);
    transform-origin: 0px 0px;

    @include media-breakpoint-up(md) {
      & {
        left: -0.3em;
      }
    }
  }

  span:empty {
    display: none;
  }

  span {
    clear: both;
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 3px;
    font-weight: 400;
    text-indent: 0;

    font-size: 60%;
    @include media-breakpoint-down(md) {
      font-size: 75%;
    }

    &:before {
      content: " ";
      display: block;
      height: 90%;
      width: 100%;
      margin-left: -3px;
      margin-right: -3px;
      position: absolute;
      background: #f9c926;
      opacity: 0.2;
      left: -1px;
      border-radius: 20% 25% 20% 24%;
      padding: 10px 3px 3px 10px;
    }
  }
}

h3 {
  position: relative;
  padding-left: .5em;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.1em;
    width: 2em;
    height: 1.2em;
    background: url(/img/pestillilab-04.svg) no-repeat left top / contain;
    transform: rotate(60deg);
    transform-origin: 0px 0px;
  }
}

body[data-page="team"] {
  h4 {
    font-size: 110%;
    span {
      font-size: 80%;
      display: block;
    }
  }
}

body[data-page="home"] {
  section {
    h1, h2, h3, h4, h5, h6, p { background: #FFFFFF; border-radius: 20%; }
  }
}

@media (min-width: 1200px) {
  .section div[class*=col-] img.image-right-overflow {
    margin-left: 50px;
    margin-right: -150px;
    width: auto;
  }
}


.header .navbar .nav-item .nav-link {
  font-size: 1rem;
}

.header + .section#home {
  margin-top: 0;
}

footer {

  font-size: 0.8em;

  ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
  
  }

  img {
    transform: scale(0.7);
    margin: 0 4em;
    @include media-breakpoint-down(lg) {
      margin: 0 1em;
    }
  }

  background-color: {{ .Site.Params.footer.backgroundColor }};

  p,
  a,
  a:link,
  a:visited {
    color: {{ .Site.Params.footer.textColor }};
  }

  h5,
  h6 {
    color: {{ .Site.Params.footer.sectionColor }};
  }

  .icons {
    color: {{ .Site.Params.footer.iconsColor }};
  }
}

header {
  background-color: #ffffffdd;
}

// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px,
// xxxl: 2000px
.rad-showcase  {
  @include media-breakpoint-up(xl) {
    min-height: 50vh;
  }
}

#showcase-canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: calc(min(100%, 60vh));
  z-index: 0;
  overflow: hidden;

  canvas {
    position: absolute;
    width: 80vh;
    height: 80vh;
    margin-left: -10vh;
    top: -10vh;
    max-width: 2000px;
    max-height: 2000px;
  }

  @include media-breakpoint-down(md) {
    width: 100vw;
    canvas {
      width: 120%;
      height: calc(min(120%, 100vh));
      margin-left: -10%;
    }
  }
}

section#publications {
  .publications {
    h3 {
      margin: 2em 0 0 0;
    }
    h3.year {
      font-size: 1.3em;
    }
    h4.title {
      font-size: 1.2em;
    }
  }

  .publication {
    border-left: 1px solid #000;
    margin: 0;
    margin-top: 0 !important;
    padding: 1em;
    margin-left: 0.5rem;

    .authors span {
      display: inline-block;
      
      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
    .journal span {
      display: inline-block;
      
      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

section#research {
  .grants {
    h3 {
      margin: 2em 0 0 0;
    }
    h3.year {
      font-size: 1.3em;
    }
    h4.title {
      font-size: 1.2em;
    }
  }
  .grant {
    border-left: 1px solid #000;
    margin: 0;
    margin-top: 0 !important;
    padding: 1em;
    margin-left: 0.5rem;
    .investigators span {
      display: inline-block;
      
      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
    .grantor span {
      display: inline-block;
      
      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

#map {
  width: 100%;
  height: 40vh;
}