<!doctype html>
{{ partial "head.html" .}}
  <body>
{{ partial "nav.html" .}}
<style>
.thumbnail {
    height : 40vh;
    background-image: url("{{.Site.BaseURL }}{{.Params.thumbnail}}");
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
 h1{
    font-weight: bold;
 }
</style>    
<main>
    <div class="thumbnail">
        <div class="container">
            <br>
            <br>    
            <h1 class="mx-auto" style="color: white;margin:auto">{{.Params.Title}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                {{ .Content }}
            </div>
        </div>
    </div>
    <br>
</main>

{{ partial "footer.html" .}}
</body>
</html>