<script src='{{ "js/rad-animations.js" | absURL }}'></script>
<script src='{{ "js/library/lozad.min.js" | absURL }}'></script>
<script>
  window.addEventListener("load", function() {
    var observer = window.lozad(".lozad", {
      rootMargin: window.innerHeight / 2 + "px 0px",
      threshold: 0.001
    });
    observer.observe();
  });
</script>
<script src='{{ "js/library/jquery-3.3.1.slim.min.js" | absURL }}'></script>
<script src='{{ "js/library/bootstrap.min.js" | absURL }}'></script>
<script src='{{ "js/library/fontfaceobserver.js" | absURL }}'></script>
<script>
  (function(w) {
    if (w.document.documentElement.className.indexOf("fonts-loaded") > -1) {
      return;
    }
    var fontA = new w.FontFaceObserver("Inter", {
      weight: 300
    });
    var fontC = new w.FontFaceObserver("Inter", {
      weight: 500
    });
    var fontF = new w.FontFaceObserver("Inter", {
      weight: 900
    });
    w.Promise.all([fontA.load(), fontC.load(), fontF.load()]).then(function() {
      console.log('fonts loaded');
      w.document.documentElement.className += " fonts-loaded";
    });
  })(this);
</script>
{{ block "footer-scripts" . }}{{ end }}