{{ $Data := .Scratch.Get "PartialData" }}
{{ $Col := default "6" ($Data.size) }}
{{ $OppCol := sub 12 (int $Col) }}
{{ if $Data.enable }}
<div class="container pb-5 rad-animation-group rad-fade-down">
  <div class="row d-flex flex-md-row">
    <div class="col-12 order-first col-md-12 order-md-last my-auto">
      {{ if $Data.title }}
      <h2>
        {{ $Data.title }}
        {{ if $Data.subtitle }}
        <span>{{ $Data.subtitle }}</span>
        {{ end }}
      </h2>
      {{ end }}
      {{ if $Data.content }}
      <p>
        {{ $Data.content | safeHTML }}
      </p>
      {{ end }}

      {{ if $Data.button }}
      <a
        href="{{ $Data.button.URL | absURL }}"
        target="_blank"
        class="btn btn-primary"
      >
        <i class="{{ $Data.button.icon }}"></i>
        {{ $Data.button.btnText }}
      </a>
      {{ end }}
      
    </div>
  </div>
</div>
{{ end }}
